*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Reddit Sans", sans-serif;
    background-color: rgb(22, 22, 32);
}
.mainbd{
    display: flex;
    flex-direction: column;
    background: url(./images/pexels-padrinan-1111318.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 210mm;
    height: 297mm;
    font-weight: 900;
    color: beige;
    z-index: -12;
}
#contactinf{
    display: inline-block;
    width: 210mm;
    height: 170px;
    list-style: none;
    background: url(./images/Snapinsta.app_304996397_127328383377411_5556370430269696391_n_1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:  180px;
}
#nameli{
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    /* margin-top: 5px; */
    text-transform: uppercase;
    width: 280px;
    height: 100%;
    display: flex;
    backdrop-filter: blur(20px);
}
/* }\F5F5DC */
#contacts{
    position: relative;
    display: flex;
    margin-top: 0px;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
}
#phoneic{
    position: relative;
    top: 4px;
    margin-left: 12px;
}
#mailic, #instagram, #x{
    position: relative;
    top: 4px;
}
#phonenumber, #email, #instagram{
    margin-right: 6px;
}
#insic, #xic{
    position: relative;
    top: 3.5px;
}
.svgs{
    width: 100%;
    text-align: center;
    border: 1px solid white;
    padding-left: 30px;
    border-left: none;
    border-right: none;
    display: block;
}
#header{
    color: beige;
    text-align: center;
    position: relative;
    top: 20px;
}
#name{
    height: 20%;
}
.attributes{
    position: relative;
    display: flex;
    place-content: center;
    list-style: none;
    height: 100%;
    top: 40px;
}
.triblist{
    position: relative;
    display: flex;
    place-content: center;
    list-style: none;
}
.education, .traits{
    text-align: center;
    color: black;
    width: 330px;
    height: 500px;
    font-size: 2rem;
}
.skills{
    width: 330px;
    height: 400px;
    background: url(./images/skills.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    text-align: center;
    color: black;
    filter: drop-shadow(0px 0px 9px black);
    display: grid;
    font-size: 2rem;
    color: beige;
}
.education{
    background: url(./images/educations.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 150px;
    z-index: -1;
    filter: drop-shadow(0px 0px 9px black);
}
.traits{
    position: relative;
    right: 150px;
    background: url(./images/experience.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.skills, .education, .traits{
    border-radius: 10px;
}
.edlist{
    font-size: 12px;
    position: relative;
    top: 33%;
    text-align: left;
    /* border: 1px solid red; */
    width: 50%;
    backdrop-filter: blur(10px);
    /* place-self: center; */
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 4px black; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* filter: drop-shadow(0px 0px 9px black); */
}
#sklist{
    color: beige;
    position: relative;
    width: 300px;
    bottom: 30%;
    place-self: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: -1px 2px 4px black; 
    font-size: 1rem;
}
#sklist ul{
    list-style: none;
}
.eddlist{
    padding-bottom: 10px ;
}
#trlist{
    font-size: 12px;
    position: relative;
    top: 25%;
    left: 50%;
    text-align: right;
    /* border: 1px solid red; */
    width: 50%;
    backdrop-filter: blur(10px);
    /* place-self: center; */
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 2px 4px black; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#trlist ul{
    list-style: none;
}
footer{
    width: 95%;
    height: 700px;
    place-self: center;
    background-color: beige;
    border-radius: 10px;
    position: relative;
    bottom: 0px;
    color: black;
    font-size: 0.8rem;
}
#exp{
    text-align: center;
    color: black;
}
h2{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
}